{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="config.html">Configuración</a></li>
                    <li><a href="about.html">About</a></li>

                </ul>
            </div>
        </nav>
{% block content %}

{% endblock %}
    
</body>
</html>