{% extends "base.html" %}
{% block title %}Sobre mí{% endblock %}
{% block content %}
    <div class="cuerpo">
        <div class="titulo">
            <h1>Sobre mí</h1>
        </div>
        <div class="contenido">
            <p>
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Proin quis laoreet diam, 
                id elementum turpis. 
                Duis vitae dui auctor,
                ullamcorper nunc eu, 
                commodo sapien. Nam eget tempus 
                mauris. Integer gravida lobortis 
                malesuada. Sed in nisi pharetra.
            </p>

        </div>
    </div>
{% endblock %}